.gradle/
build/

local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.apk
*.abb
output.json

*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore

google-services.json

*.hprof